## Identifying Outliers using Standard Deviation

In [100]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [20]:
# Create a connection to the database
engine = create_engine("postgresql+psycopg2://postgres:Fintech2021!@localhost:5432/fraud_detection")
query = """
SELECT 
ch.holder_id as cardholder,
cc.card_number number,
m.merchant_name as merchant,
t.transaction_datetime as hour,
t.amount as amount 
FROM card_holder ch
JOIN credit_card cc ON ch.holder_id = cc.cardholder_id
JOIN transaction t ON t.card_number = cc.card_number 
JOIN merchant m ON t.merchant_id = m.merchant_id
JOIN merchant_category mc ON m.merchant_category_id = m.merchant_category_id
group by cc.card_number, ch.holder_id, m.merchant_name,t.transaction_datetime,t.amount
order by t.amount
"""
transactions_df = pd.read_sql(query, engine)
transactions_df.head()

   cardholder            number          merchant                hour  amount
0          13  3561954487988605    Martinez Group 2018-02-04 19:02:09    0.51
1          20  4506405265172173     Thomas-Garcia 2018-07-17 22:11:50    0.52
2          20  4506405265172173   Fowler and Sons 2018-07-14 17:44:09    0.53
3          16  5500708021555307  Johnson and Sons 2018-04-13 04:50:37    0.54
4          16  5500708021555307     Johnson-Watts 2018-04-18 06:51:00    0.56

In [50]:
# Write function that locates outliers using standard deviation 
def outliers(data_df):
    return pd.DataFrame(data_df[data_df > data_df.mean() + 3*data_df.std()])

In [86]:
transactions_df.dropna()

,cardholder,number,merchant,hour,amount
0,13,3561954487988605,Martinez Group,2018-02-04 19:02:09,0.51
1,20,4506405265172173,Thomas-Garcia,2018-07-17 22:11:50,0.52
2,20,4506405265172173,Fowler and Sons,2018-07-14 17:44:09,0.53
3,16,5500708021555307,Johnson and Sons,2018-04-13 04:50:37,0.54
4,16,5500708021555307,Johnson-Watts,2018-04-18 06:51:00,0.56
5,23,4741042733274,Reed Group,2018-01-31 13:17:35,0.58
6,11,4027907156459098,"Davis, Lowe and Baxter",2018-05-30 08:27:41,0.59
7,19,5361779664174555,Mitchell Group,2018-09-21 07:53:08,0.61
8,11,180098539019105,Greer Inc,2018-09-02 19:10:09,0.62
9,13,5135837688671496,Kelley-Roberts,2018-11-20 03:51:55,0.62
10,18,344119623920892,Baker Inc,2018-06-13 05:34:22,0.67
11,1,3517111172421930,Hood-Phillips,2018-07-17 16:30:39,0.69
12,18,4498002758300,Wilson and Sons,2018-11-22 04:16:33,0.69
13,12,376027549341849,Perry and Sons,2018-10-19 01:16:05,0.70
14,4,584226564303,"Jones, Clark and Hoover",2018-07-02 04:53:58,0.70
15,2,675911140852,Martinez Group,2018-04-29 18:35:27,0.70
16,14,5175947111814778,Maldonado Group,2018-12-01 21:08:36,0.71
17,17,6011987562414062,Hamilton-Mcfarland,2018-01-28 19:30:38,0.72
18,7,4539990688484983,Ramirez-Carr,2018-02-23 14:39:43,0.73
19,24,3582198969197591,Clark and Sons,2018-08-28 02:09:41,0.75
20,1,3517111172421930,Riggs-Adams,2018-03-10 23:00:35,0.76
21,15,6500236164848279,"Bond, Lewis and Rangel",2018-09-11 17:31:43,0.76
22,24,30142966699187,Brown LLC,2018-10-06 20:23:45,0.77
23,5,4268491956169254,Baker Inc,2018-03-27 07:04:02,0.78
24,19,4743204091443101526,Robles Inc,2018-12-20 08:00:01,0.78
25,14,5175947111814778,Young-Navarro,2018-11-06 18:14:12,0.81
26,19,4743204091443101526,Best Inc,2018-05-24 00:29:49,0.82
27,24,3582198969197591,"Sanders, Parks and Mcfarland",2018-05-31 09:07:36,0.83
28,21,4279104135293225293,Lee LLC,2018-09-22 16:17:08,0.83
29,10,4165305432349489280,Velazquez Ltd,2018-12-23 03:34:08,0.86
...,...,...,...,...,...
3470,25,4319653513507,Griffin-Woodard,2018-03-06 07:18:09,1334.00
3471,6,3581345943543942,Hood-Phillips,2018-08-05 01:06:38,1379.00
3472,6,3581345943543942,Russell-Thomas,2018-07-03 14:56:36,1398.00
3473,16,5570600642865857,Greene LLC,2018-02-17 01:27:19,1430.00
3474,7,3516952396080247,"Richardson, Smith and Jordan",2018-08-07 11:07:32,1449.00
3475,12,501879657465,Kim-Lopez,2018-03-12 00:44:01,1530.00
3476,9,30181963913340,Maldonado Group,2018-03-04 15:50:53,1534.00
3477,12,501879657465,Martinez-Robinson,2018-06-27 01:27:09,1592.00
3478,16,5570600642865857,Mccarty-Thomas,2018-03-05 08:26:08,1617.00
3479,16,5570600642865857,Gomez-Kelly,2018-12-24 15:55:06,1634.00
3480,1,4761049645711555811,Browning-Cantu,2018-11-27 17:27:34,1660.00
3481,12,501879657465,Garcia-White,2018-01-23 06:29:37,1678.00
3482,7,3516952396080247,"Kelly, Dyer and Schmitt",2018-01-04 03:05:18,1685.00
3483,1,4761049645711555811,Osborne-Page,2018-01-24 13:17:19,1691.00
3484,9,30181963913340,Garcia and Sons,2018-12-19 16:10:03,1724.00
3485,18,344119623920892,Romero-Jordan,2018-11-17 05:30:43,1769.00
3486,1,4761049645711555811,Wallace and Sons,2018-09-04 01:35:39,1790.00
3487,9,30181963913340,Velazquez Ltd,2018-06-10 04:54:27,1795.00
3488,12,501879657465,White-Hall,2018-11-27 15:36:05,1802.00
3489,16,5570600642865857,Ramirez-Carr,2018-07-26 23:02:51,1803.00
3490,25,4319653513507,"Cox, Montgomery and Morgan",2018-06-22 06:16:50,1813.00
3491,18,344119623920892,"Boone, Davis and Townsend",2018-06-03 20:02:28,1814.00
3492,18,344119623920892,Baxter-Smith,2018-02-19 22:48:25,1839.00
3493,6,3581345943543942,Mccullough-Murphy,2018-09-11 15:16:47,1856.00
3494,1,4761049645711555811,"Curry, Scott and Richardson",2018-12-07 07:22:03,1894.00
3495,24,30142966699187,Best Inc,2018-05-08 13:21:01,1901.00
3496,16,5570600642865857,"Brown, Ballard and Glass",2018-11-13 17:07:25,1911.00
3497,6,3581345943543942,Romero-Jordan,2018-09-02 06:17:00,2001.00
3498,6,3581345943543942,"Brown, Estrada and Powers",2018-04-21 19:41:51,2108.00
3499,7,3516952396080247,Solis Group,2018-12-13 15:51:59,2249.00

In [87]:
transactions_df.shape

(3500, 5)

In [88]:
# Find anomalous transactions for 3 random card holders
rand_card_holders = np.random.randint(1,95,3)
for id in rand_card_holders:
    df = transactions_df.loc[transactions_df['cardholder']==id, 'amount']
    if len(outliers(df)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has outlier transactions as below:\n{outliers(df)}.")

Card holder 33 has no outlier transactions.
Card holder 11 has no outlier transactions.
Card holder 6 has outlier transactions as below:
      amount
3471  1379.0
3472  1398.0
3493  1856.0
3497  2001.0
3498  2108.0.

## Identifying Outliers Using Interquartile Range

In [98]:
# Write a function that locates outliers using interquartile range
def outliers_iqr(data_df):
    if data_df.empty:
        return []
    else:
        IQR_threshold = np.quantile(data_df, .75)+(np.quantile(data_df, .75)-np.quantile(data_df, .25))*1.5
        return pd.DataFrame(data_df[data_df > IQR_threshold])

In [99]:
# Find anomalous transactions for 3 random card holders
for id in rand_card_holders:
    df2 = transactions_df.loc[transactions_df['cardholder']==id, 'amount']
    if len(outliers_iqr(df2)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has outlier transactions as below:\n{outliers_iqr(df2)}.")

Card holder 33 has no outlier transactions.
Card holder 11 has no outlier transactions.
Card holder 6 has outlier transactions as below:
      amount
3414   389.0
3434  1029.0
3452  1108.0
3457  1145.0
3466  1279.0
3471  1379.0
3472  1398.0
3493  1856.0
3497  2001.0
3498  2108.0.